---
title: Overview | Fabricator
fabricator: true
---

<h1>Basic Styleguide</h1>

<p>This UI toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts.</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<hr>
<h2>Check Usage</h2>
<a href="/basics.html">Basics</a>
<hr>
<h2>Samples</h2>
<a href="/pages/home.html" target="_blank">Home</a>
<hr>
